---
import type { Article, Clang, Metadata } from 'redaxo-adapter';
import KHrefLangs from './head/KHrefLangs.astro';
import KSEO from './head/KSEO.astro';
import KTracking from './head/KTracking.astro';
import KStructuredData from './head/KStructuredData.astro';
import KRecaptcha from './head/KRecaptcha.astro';

interface Props {
    metadata: Metadata;
    clang: Clang;
    clangs: Clang[];
    siteStartArticle: Article;
    footerArticle: Article;
    path: string;
    article?: Article;
    baseUrl: string;
    recaptcha?: boolean;
    bodyClass?: string;
}
const {
    recaptcha = false,
    baseUrl,
    bodyClass = '',
    clangs,
    siteStartArticle,
    metadata,
    clang,
    path,
} = Astro.props;
---

<html lang={clang.code.toLowerCase()}>
    <head>
        <meta name="generator" content={Astro.generator} />
        <slot name="href-langs">
            <KHrefLangs clangs={clangs} {baseUrl} />
        </slot>
        <slot name="seo">
            <KSEO metadata={metadata} {path} {baseUrl} />
        </slot>
        <slot name="tracking">
            <KTracking />
        </slot>
        <slot name="structured-data">
            <KStructuredData
                {baseUrl}
                metadata={metadata}
                siteStartArticle={siteStartArticle}
            />
        </slot>
        {recaptcha && <KRecaptcha />}
        <slot name="head" />
    </head>

    <body class={bodyClass}>
        <slot />
    </body>
</html>
